.targetHandle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
    z-index: 999;
}

.sourceHandle {
    top: unset;
    right: unset;
    transform: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
}

:global(.react-flow__node) > .node {
    border-color: var(--mantine-color-dark-4);
}

:global(.react-flow__node.selected) > .node {
    border-color: var(--mantine-color-dark-2);
}
