.button {
    &:disabled,
    &[data-disabled] {
        border-color: light-dark(
            var(--mantine-color-gray-3),
            var(--mantine-color-dark-4)
        );
    }
}

.input :global(.mantine-Textarea-input) {
    font-family: monospace;
}
