{
    "tabWidth": 4,
    "experimentalOperatorPosition": "start",
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "importOrder": ["mindy-website", "^[./]"],
    "importOrderSeparation": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
